.sidebarMenu li {
	@apply mt-6;
}

.sidebarMenu li a {
	@apply text-secondary;
	position: relative;
	padding-top: 10px;
	padding-right: 2px;
	padding-bottom: 10px;
	padding-left: 2px;
	transition: 0.5s ease-in-out;
}

.sidebarMenu li a:hover {
	@apply text-heading;
}

.sidebarMenu li a::before {
	@apply bg-primary;
	content: "";
	inset: 0;
	position: absolute;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s ease-in-out;
	z-index: -1;
}

.sidebarMenu li a:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}
